.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 2rem;
  list-style: none;

  &Link {
    display: block;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover { transform: scale(1.02); }
  }
};
