@import 'theme';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgDefault;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $textPrimary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.container {
  min-width: 20rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include md {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.header {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;

  @include md {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

h1,
.h1 {
  font-size: calc(1.425rem + 2.1vw);
  line-height: 1.2;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.section__link {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: $colorPrimary;
}

.not-found {
  text-align: center;
  & .h3 {
    font-size: calc(1.375rem + 1.5vw);
    line-height: 1.5;
  }
  & .h5 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
  & p { margin-bottom: 2rem; }
}

.infinite-scroll-component { overflow: visible !important; }
